.uagls { 
  border-bottom-width: 48px;
  font-size: 65px;
  border-top-width: 21px;
  border-bottom-width: 89px;
  padding-right: 14px;
  padding-bottom: 85px;
  border-right-width: 37px;
  border-left-width: 64px;
  margin-bottom: 28px;
  border-top-width: 34px;
  line-height: 86px;
  border-left-width: 28px;
}
