.nfnri { 
  margin-bottom: 70px;
  border-bottom-width: 94px;
  border-top-width: 92px;
  margin-right: 3px;
  font-size: 86px;
  margin-left: 84px;
  padding-top: 45px;
  padding-left: 3px;
  font-size: 13px;
  border-top-width: 42px;
  padding-left: 56px;
  margin-bottom: 56px;
  padding-left: 57px;
  border-right-width: 80px;
  border-top-width: 77px;
  margin-right: 50px;
  line-height: 88px;
  margin-left: 63px;
}
