.nfnri { 
  margin-bottom: 70px;
  border-bottom-width: 94px;
  border-top-width: 92px;
  margin-right: 3px;
  font-size: 86px;
  margin-left: 84px;
  padding-top: 45px;
  padding-left: 3px;
  font-size: 13px;
  border-top-width: 42px;
  padding-left: 56px;
  margin-bottom: 56px;
  padding-left: 57px;
  border-right-width: 80px;
  border-top-width: 77px;
  margin-right: 50px;
  line-height: 88px;
  padding-bottom: 13px;
  border-bottom-width: 73px;
  font-size: 19px;
  padding-right: 27px;
  border-left-width: 50px;
  border-left-width: 4px;
  margin-left: 1px;
  border-right-width: 47px;
  margin-right: 29px;
  border-right-width: 43px;
  padding-right: 22px;
  font-size: 84px;
  margin-left: 18px;
  padding-right: 68px;
  border-top-width: 50px;
  margin-left: 65px;
  padding-right: 30px;
  padding-right: 61px;
  padding-bottom: 7px;
  padding-bottom: 79px;
  border-left-width: 99px;
  font-size: 71px;
  padding-top: 17px;
  margin-left: 70px;
  padding-left: 39px;
  margin-left: 97px;
  padding-bottom: 21px;
  padding-bottom: 12px;
  border-left-width: 4px;
  padding-top: 46px;
  margin-right: 45px;
  padding-bottom: 65px;
  margin-left: 98px;
  padding-left: 29px;
}
